{
	"extends": ["@ljharb/eslint-config/node/latest"],
	"rules": {
		"array-bracket-newline": "off",
		"max-lines": "off",
		"max-lines-per-function": ["error", {
			"max": 100,
			"skipComments": true,
			"skipBlankLines": true,
		}],
	},
}
